@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Delicious+Handrawn&display=swap');


$bg-black: #000000;
$text-silver: #C0C0C0;
$text-gray: #A9A9A9;
$accent-white: #FFFFFF;
$border-silver: #C0C0C0;
$unis-blue: #163387;


.find-page-container > * {
  margin-left: 230px;
}

.findpageheader{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.find-page-header{
  margin: 0; 
  padding: 0; 
  text-align: center;

  h1 {
    margin: 0 0 7px 0; 
    font-size: 28px;    
    line-height: 1.2;
  }
}


.map-container {
  width: 62%; 
  max-width: 600px;
  height: 600px; 
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 2px;
  background: transparent;
  border: solid 2px green;
}

.territory-name {
  text-align: center;
  color: $unis-blue;
  font-size: 40px;
  margin-bottom: -60px;
  font-family: "Bitcount Grid Double", system-ui;
}

.back-button {
  padding: 10px 20px;
  background: transparent;
  border: 1px solid $unis-blue;
  color: $unis-blue;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 10px;
  &:hover {
    background: rgba($unis-blue, 0.2);
  }
}

.results-section {
  display: flex;
  gap: 20px;

  .column {
    flex: 1;

    h2 {
      color: silver;
      font-size: 24px;
    }

    .results-list {
      list-style: none;
      padding: 0;
      display: flex;
      flex-direction: column;
      gap: 15px;
    }

    .result-item {
      background: #1a1a1a;
      border-radius: 12px;
      padding: 15px;
      display: flex;
      align-items: center;
      gap: 10px;

      .rank {
        font-size: 24px;
        color: white;
      }

      .item-artwork {
        width: 50px;
        height: 50px;
        border-radius: 8px;
      }

      .item-info {
        flex-grow: 1;
      }

      .item-votes {
        font-size: 14px;
        color: silver;
      }

      .play-button, .view-button {
        padding: 8px 16px;
        background: transparent;
        border: 1px solid silver;
        color: silver;
        border-radius: 8px;
        cursor: pointer;
        // &:hover {
        //   background: rgba($button-hover, 0.2);
        // }
      }
    }
  }
}

// Mobile: Stack columns
@media (max-width: 600px) {
  .results-section {
    flex-direction: column;
  }
}