

.layout-footer{
    height: 240px;
    margin-bottom: 25%;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    padding-bottom: 8%;
    background-color: transparent !important;
}

.footer-copyright{
    background-color: transparent;
}