

.layout-footer{
    height: 240px;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    padding-bottom: 30px;
    background-color: transparent !important;
    border-top: solid 1px transparent !important;
}

.footer-copyright{
    background-color: transparent;
}


@media (max-width: 600px) {

    .layout-footer{
        border-top: solid 1px transparent !important;
        margin-bottom: 80px !important;
        padding-bottom: 30px !important;
        margin-top: 30px !important;
        height: 20vh !important;
    }
}