// Layout.scss

// Variables 
$bg-black: #000000;
$text-gray: #A9A9A9;

.layout-container {
  display: flex;
  gap: 0;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background: $bg-black;
  color: $text-gray;
  font-family: 'Arial', sans-serif;
  overflow-y: auto;
  position: relative;
  align-items: center;
  justify-content: center;
  z-index: 1;
  margin: 0;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    gap: 0;
    background-image: linear-gradient(to bottom, transparent, $bg-black 90%), var(--background-image); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.15;
    z-index: -1;
    filter: blur(5px);
  }
}

.layout-content {
  display: flex;
  gap: 0;
  width: 100%;
  flex: 1; 
  overflow-y: auto; 
  padding: 0; 
  top: 0;
  margin-left: 20px;
  padding-bottom: 140px;
}